<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
　　<link href="~/Content/Menu/Menu.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Menu.js"></script>
</head>
<body>
<header class="topnav" id="myTopnav">
    <div class="navlist" id="navlist">
        <a class="cursor0" href="#home">&nbsp</a>
        <a class="navoption active" href="#home">Home</a>
        <a class="navoption" href="#news">News</a>
        <a class="navoption" href="#contact">Contact</a>
        <a class="navoption" href="#about">Blog</a>
        <a class="navoption" href="#about">About</a>
        <a class="navoption" href="/Member/Logout">Logout</a>
        <a href="javascript:void(0);" class="icon" id="hamburger">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</header>
<div>
    @RenderBody()
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

<link href="~/Content/Menu/Menu.css" rel="stylesheet" />
<script src="~/Scripts/Menu.js"></script>
</body>
</html>
